[submodule "Tuinity"]
	path = Tuinity
	url = git@github.com:Spottedleaf/Tuinity.git
	branch = master
	update = merge
[submodule "Paperclip"]
	path = Paperclip
	url = git@github.com:PaperMC/Paperclip.git
